<div
  class="m-card center-cropped mat-elevation-z10"
  (click)="cardClicked.emit()"
  [@cardFlip]="card.state"
>
  <div class="face back">
    <img class="center-cropped" [src]="bgImageUrl" />
  </div>
  <div class="center-cropped face front mat-elevation-z10">
    <div
      class="block"
      [ngClass]="{
        common: card.rarity == cardRarities.Common,
        rare: card.rarity == cardRarities.Rare,
        epic: card.rarity == cardRarities.Epic,
        fabled: card.rarity == cardRarities.Fabled,
        legendary: card.rarity == cardRarities.Legendary
      }"
    >
      <img class="front-img" [src]="card.imageUrl" />
    </div>
  </div>
</div>
