

.m-card {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  cursor: pointer;

  position: relative;

  transform-style: preserve-3d;
}

.back,
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(0deg);
}

.front {
  transform: rotateY(180deg);
}

img {
  object-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.front-img {
  padding: 4px;
}

.block {
  object-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  --border-size: 4px;
  --border-angle: 0turn;
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  &.common {
    background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), rgb(190, 190, 190), rgb(168, 168, 168), rgb(190, 190, 190));
  }
  &.rare {
    background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), #08f, rgb(0, 217, 255), #08f,);
  }
  &.epic {
    background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), rgb(255, 60, 0), rgb(255, 0, 119), rgb(255, 60, 0));
  }
  &.fabled {
    background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), rgb(23, 194, 0), rgb(121, 214, 0), rgb(23, 194, 0));
  }
  &.legendary {
    background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), rgb(255, 196, 0), rgb(255, 153, 0), rgb(255, 196, 0));
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

