<div
  class="m-card center-cropped mat-elevation-z10"
  (click)="cardClicked.emit()"
  [@cardFlip]="card.state"
>
  <div class="face back">
    <img class="center-cropped" [src]="bgImageUrl" />
  </div>
  <div class="center-cropped face front mat-elevation-z10">
    <div
      class="block"
      [ngClass]="{
        common: card.rarity == 0,
        rare: card.rarity == 1,
        epic: card.rarity == 2,
        fabled: card.rarity == 3,
        legendary: card.rarity == 4
      }"
    >
      <div class="value">{{ calculatedValue }}</div>
      <img class="front-img" [src]="card.imageUrl" />
    </div>
  </div>
</div>
