<p-dialog
  header="Success!"
  [(visible)]="resetDialogDisplay"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p class="m-0">
    You completed the game in:
    <b>{{ formattedMM }}:{{ formattedSS }}:{{ formattedMS }}</b
    >!
  </p>
  <ng-template pTemplate="footer">
    <p-button
      (click)="resetGame()"
      label="New Game"
      styleClass="p-button-primary"
    ></p-button>
    <p-button
      type="button"
      class="mr-2"
      label="Sources"
      (click)="sourceDisplay()"
    ></p-button>
  </ng-template>
</p-dialog>

<p-sidebar
  [(visible)]="visibleSidebar1"
  [baseZIndex]="10000"
  [style]="{ width: '25em', background: 'rgb(145, 192, 253)' }"
>
  <h3>Left Sidebar</h3>
  <label for="tags" class="block">Your Username</label>
  <input id="tags" type="text" pInputText [(ngModel)]="settings.username" />
  <hr class="hr hr-blurry" />
  <div class="input-container rowstyle">
    <label for="rowWidth" style="display: inline-block !important"
      >Row Width</label
    >
    <label for="rowHeight" style="display: block">Row Height</label>
  </div>
  <div class="input-container">
    <p-inputNumber
      [inputStyle]="{ width: '4em', background: 'rgb(186, 217, 255)' }"
      [(ngModel)]="settings.containerWidth"
      [showButtons]="true"
      buttonLayout="vertical"
      spinnerMode="vertical"
      inputId="vertical"
      decrementButtonClass="p-button-primary"
      incrementButtonClass="p-button-primary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
    >
    </p-inputNumber>
    <p-inputNumber
      [inputStyle]="{ width: '4em', background: 'rgb(186, 217, 255)' }"
      [(ngModel)]="settings.containerHeight"
      [showButtons]="true"
      buttonLayout="vertical"
      spinnerMode="vertical"
      inputId="rowHeight"
      decrementButtonClass="p-button-primary"
      incrementButtonClass="p-button-primary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
    >
    </p-inputNumber>
  </div>
  <div class="input-container imagestyle">
    <label for="imageHeight" style="display: inline-block"
      >Picture Height</label
    >
    <label for="imageWidth" style="display: block">Picture Width</label>
  </div>
  <div class="input-container">
    <p-inputNumber
      [inputStyle]="{ width: '4em', background: 'rgb(186, 217, 255)' }"
      [(ngModel)]="settings.imageHeight"
      [showButtons]="true"
      buttonLayout="vertical"
      spinnerMode="vertical"
      inputId="imageHeight"
      decrementButtonClass="p-button-primary"
      incrementButtonClass="p-button-primary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
    >
    </p-inputNumber>
    <p-inputNumber
      [inputStyle]="{ width: '4em', background: 'rgb(186, 217, 255)' }"
      [(ngModel)]="settings.imageWidth"
      [showButtons]="true"
      buttonLayout="vertical"
      spinnerMode="vertical"
      inputId="imageWidth"
      decrementButtonClass="p-button-primary"
      incrementButtonClass="p-button-primary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
    >
    </p-inputNumber>
  </div>
  <hr class="hr hr-blurry" />
  <h5>Switch mode to tag based pooling</h5>
  <p-inputSwitch [(ngModel)]="settings.mode"></p-inputSwitch>
  <hr class="hr hr-blurry" />
  <div *ngIf="!settings.mode; else differentMode">
    <div class="field">
      <label for="poolName" style="display: block">Pool's name</label>
      <input
        id="poolName"
        type="username"
        pInputText
        [(ngModel)]="settings.poolName"
      />
    </div>
  </div>

  <ng-template #differentMode>
    <label for="tags" class="block">Tags (seprated with spaces)</label>
    <input id="tags" type="text" pInputText [(ngModel)]="settings.tags" />
    <p-dropdown
      [options]="ratings"
      [(ngModel)]="settings.selectedRating"
      placeholder="Select a rating"
    ></p-dropdown>
    <p-dropdown
      [options]="orders"
      [(ngModel)]="settings.selectedOrder"
      placeholder="Order by..."
    ></p-dropdown>
    <div>
      <label for="score">More likes than:</label>
      <p-inputNumber
        [(ngModel)]="settings.biggerThanScore"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="score"
        spinnerMode="horizontal"
        [step]="5"
        decrementButtonClass="p-button-primary"
        incrementButtonClass="p-button-primary"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
      >
      </p-inputNumber>
    </div>
    <div>
      <label for="postNum">Number of posts</label>
      <p-inputNumber
        [(ngModel)]="settings.numberOfPosts"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="postNum"
        spinnerMode="horizontal"
        [step]="1"
        decrementButtonClass="p-button-primary"
        incrementButtonClass="p-button-primary"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
      >
      </p-inputNumber>
      <ng-container *ngIf="settings.selectedOrder == 'random'">
        <h4>New get images every game?</h4>
        <p-inputSwitch
          [(ngModel)]="settings.refreshAfterSolving"
        ></p-inputSwitch>
      </ng-container>
      <h4>Get images that fit the cards</h4>
      <p-inputSwitch [(ngModel)]="settings.preserveRatio"></p-inputSwitch>
      <p-selectButton
        [options]="animationOptions"
        [(ngModel)]="settings.selectedAnimationOption"
        optionLabel="label"
        optionValue="value"
      ></p-selectButton>
      <button
        (click)="prepCards()"
        class="btn btn-primary"
        style="display: block"
        [disabled]="!(settings.selectedRating && settings.selectedOrder)"
      >
        Get Cards
      </button>
    </div>
  </ng-template>
  <hr class="hr hr-blurry" />
  <div class="field">
    <label for="bgUrl" class="block">Backgrund URL</label>
    <input id="bgUrl" type="username" pInputText [(ngModel)]="settings.bgUrl" />
  </div>
  <button (click)="queryNewUrls()" class="btn btn-primary">Confirm</button>
  <button (click)="resetGame()" class="btn btn-primary">Reset</button>
  <button (click)="saveSettings()" class="btn btn-primary">
    Save Settings
  </button>
  <button (click)="loadSettings()" class="btn btn-primary">
    Load Settings
  </button>
</p-sidebar>

<p-sidebar
  [(visible)]="visibleSidebar2"
  position="right"
  [baseZIndex]="10000"
  [style]="{ width: '30em', background: 'rgb(145, 192, 253)' }"
>
  <h3>Scores</h3>
  <p-table [value]="scores" [tableStyle]="{ width: '23.5em' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Username</th>
        <th>Time</th>
        <th>Number of Cards</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-score>
      <tr>
        <td>{{ score.username }}</td>
        <td>
          {{ utils.format(score.time.mm) }}:{{ utils.format(score.time.ss) }}:{{
            utils.format(score.time.ms)
          }}
        </td>
        <td>{{ score.cardcount }}</td>
      </tr>
    </ng-template>
  </p-table>
  <button (click)="deleteScores()" class="btn btn-primary">
    Delete Scores
  </button>
</p-sidebar>

<p-button
  type="button"
  class="mr-2"
  (click)="visibleSidebar1 = true"
  icon="pi pi-list"
></p-button>
<p-button
  type="button"
  class="mr-2"
  (click)="visibleSidebar2 = true"
  icon="pi pi-sort-numeric-up"
></p-button>

<app-timer
  [resetEvent]="timerResetEvent.asObservable()"
  [startStopEvent]="timerStopStartEvent.asObservable()"
  [getTime]="timerGetEvent.asObservable()"
  (emitStopperTimeEnd)="saveTime($event)"
  (emitStopperTime)="getCurrentTime($event)"
></app-timer>
<div class="all-contanier">
  <div
    [ngStyle]="{
      height: [settings.containerHeight * (settings.imageHeight + 1) + 'rem'],
      width: [settings.containerWidth * (settings.imageWidth + 1) + 'rem']
    }"
    class="container"
  >
    <ng-container *ngFor="let card of cards; let idx = index">
      <app-card
        [ngStyle]="{
          height: [settings.imageHeight + 'rem'],
          width: [settings.imageWidth + 'rem']
        }"
        [card]="card"
        [bgImageUrl]="settings.bgUrl"
        (cardClicked)="cardClicked(idx)"
        class="b-card"
      >
      </app-card>
    </ng-container>
  </div>
</div>

<p-dialog
  header="Sources"
  [(visible)]="visibleSidebar4"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-table [value]="uniqueCards" [tableStyle]="{ width: '40rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Image</th>
        <th>Source</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-card>
      <tr>
        <td>
          <img [src]="card.imageUrl" [alt]="" width="100" class="shadow-4" />
        </td>
        <td>
          <a [href]="card.source"> {{ card.source }}</a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
