
.center-cropped {
  object-fit: cover;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  height: 10rem;
  width: 10rem;
  border-radius: 10%;
}

.a {
  width: 5rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 40rem;
  justify-content: center;
  align-items: center;
}

.all-contanier {
  display: flex;
  align-items: center;
  justify-content: center;
}

p-inputNumber {
  width: 5rem;
}

.p-inputnumber-buttons-vertical {
  width: 5rem;
}
