

.center-cropped {
  object-fit: cover;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  height: 10rem;
  width: 10rem;
  border-radius: 10%;
}

.input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  &.rowstyle {
    gap: 2rem;
    color: aliceblue;
  }
  &.imagestyle {
    gap: 1rem;
    color: aliceblue;
  }

}

.label-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 40rem;
  justify-content: center;
  align-items: center;
}

.all-contanier {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: aliceblue;
  font-weight: bold;
}




