<h3>Scores</h3>
<p-table [value]="global.scores" [tableStyle]="{ width: '23.5em' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Username</th>
      <th>Score</th>
      <th>Time</th>
      <th>Number of Cards</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-score>
    <tr>
      <td>{{ score.username }}</td>
      <td>{{ score.score }}</td>
      <td>
        {{ utils.format(score.time.mm) }}:{{ utils.format(score.time.ss) }}:{{
          utils.format(score.time.ms)
        }}
      </td>
      <td>{{ score.cardcount }}</td>
    </tr>
  </ng-template>
</p-table>
<button (click)="deleteScores()" class="btn btn-primary">
  Delete Scores
</button>
